@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--aptitud-salmon: #F65058;
	--aptitud-cerise: #DB0A5B;
	--aptitud-orange:#e55e16;
	--aptitud-yellow:#F1B434;
	--aptitud-purple:#784E90;
	--aptitud-green:#67823A;
	--aptitud-petrol:#4E87A0;
	--aptitud-blue_green:#008CA0;
	--aptitud-blue_dim:#3E6991;
	--aptitud-light-grey: #d5d3d3;
	--aptitud-dark-grey: #777777;
	--aptitud-very-light-grey: #cccccc;
	--aptitud-transparent: #ffffff00;
}
.fellow-video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-position: center;
	object-fit: cover;
}

.aptigram-text {
	text-decoration: none;
	text-align: left;
	color: #333;
}