@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--aptitud-background: #E34927;
	--aptitud-salmon: #F65058;
	--aptitud-cerise: #DB0A5B;
	--aptitud-orange:#e55e16;
	--aptitud-yellow:#F1B434;
	--aptitud-petrol:#4E87A0;
	--aptitud-purple:#784E90;
	--aptitud-green:#67823A;
	--aptitud-blue_green:#008CA0;
	--aptitud-blue_dim:#3E6991;

	--aptitud-light-grey: #d5d3d3;
	--aptitud-dark-grey: #777777;
	--aptitud-very-light-grey: #cccccc;
	--aptitud-transparent: #ffffff00;

	--aptitud-purple-rgba:rgba(84,59,99, 0.65);
	--aptitud-green-rgba:rgba(57,71,31,0.74);
	--aptitud-blue_green-rgba:rgba(7,97,110, 0.65);
	--aptitud-blue_dim-rgba:rgba(62, 105, 145, 0.65);
	--aptitud-yellow-rgba: rgba(176,135,48, 0.35);
	--aptitud-petrol-rgba:rgba(54, 102, 122, 0.75);
}
.fellow-video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.aptigram-text {
	text-decoration: none;
	text-align: left;
	color: #333;
}
.card-shadow {
	box-shadow: 0 4px 8px RGBA(10,10,10,0.5);
}
.filter-menu {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 4px 8px RGBA(10,10,10,0.5);
}
.filter-menu--open {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 4px 8px RGBA(10,10,10,0.5);

}
.menu-item {
	cursor: pointer;
	padding: 9px 0 7px 8px;
	position: relative;
}

.menu-item::before {
	position:absolute;
	content: '';
	display: block;
	width: 4px;
	height: 100%;
	background-color: transparent;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-left: -8px;
	margin-top: -8px;
}

.menu-item--selected::before, .menu-item:hover::before {
	background-color: #4E87A0;
}
.menu-item--selected, .menu-item:hover {
	color: #3d6a7d;
}
.menu-icon {
	vertical-align: middle;
	margin: 1px 8px 0 0;
}

.menu-list {
	width: 0;
	height: 0;
	font-size: 0;
	opacity: 0;
	transition: all .5s ease;
	overflow: hidden;
}
.menu-list--open {
	opacity: 1;
	font-size: 16px;
	width: 120px;
	height: 165px;
	margin: 16px 0;
}

.apti-card {
	border: 8px solid rgba(255, 255, 255, 0.4);

	@media screen and (max-width: 760px) {
		border: 4px solid rgba(255, 255, 255, 0.4);
	  }
   }
   
   .apti-headline {
	margin-bottom: 16px;
	   font-family: 'Shantell Sans';
	   text-align: center;
	   text-transform: capitalize;
	   font-size: 2.2em;
	   font-weight: 400;
	   text-shadow: 0 5px 0 rgba(0, 0, 0, 0.15);
	   transform: rotate(-3deg);
   }