@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--aptitud-pink-red: #F65058;
	--aptitud-cerise: #DB0A5B;
	--aptitud-orange:#DC4405;
	--aptitud-yellow:#F1B434;
	--aptitud-pink:#784E90;
	--aptitud-green:#67823A;
	--aptitud-petrol:#4E87A0;
	--aptitud-blue_green:#008CA0;
	--aptitud-blue_dim:#3E6991;
	--aptitud-light-grey: #d5d3d3;
	--aptitud-very-light-grey: #cccccc;
	--aptitud-transparent: #ffffff00;
}